body {
  background-color: rgba(0, 0, 0, 0.95);
}

main {
  max-width: 72rem;
  height: 100vh;
  margin: auto;

}

article {
  border: .15vh solid rgb(63, 63, 70);
  border-radius: 1.5rem;
  margin-top: 1vh;
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;

}

.flicker-ani-target {
  animation-name: flicker;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.open {
  z-index: 1;
  height: auto;
  background-color: rgb(24, 24, 27);
  width: 10vw;
  display: block;
  position: absolute;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  margin-top: 1rem;
}

.closed {
  display: none;
}


li:hover:not(#logo) {
  background-color: rgb(38, 38, 41);
}

/*so it fits with the container*/
#last:hover {
  background-color: rgb(38, 38, 41);
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}



@keyframes flicker {
  0% {
    opacity: 0.3;
  }

  10% {
    opacity: 1;

  }

  15% {
    opacity: 0.3;
  }

  20% {
    opacity: 0.3;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}