@font-face {
  font-family: 'chivo mono';
  src: url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
}

body {
  background-color: rgba(0, 0, 0, 0.95);
}

main {
  max-width: 72rem;
  height: 100vh;
  margin: auto;

}

form {
  border: .15vh solid rgb(63, 63, 70);
  border-radius: 1.5rem;
  margin-top: 1vh;
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;

}

.flicker-ani-target {
  animation-name: flicker;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

/*this will move over to the left at a certain screen size*/
.open {
  z-index: 1;
  max-height: auto;
  background-color: rgb(24, 24, 27);
  width: 12em;
  display: block;
  position: absolute;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  margin-top: 1rem;
  font-size: .9vmax;
  justify-content: space-between;
}

.closed {
  display: none;
}




li:not(#logo) {
  border-radius: .2rem;
  padding: 0 .2rem 0 .2rem;

}

li:hover:not(.nohover) {
  background-color: rgb(38, 38, 41);
}



/*so it fits with the container*/
#last:hover {
  background-color: rgb(38, 38, 41);
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

#search_bar>input {
  padding: 0 .2rem 0 .2rem;
}

#search_bar>input:focus {
  outline: solid rgb(29, 78, 216);

}

@keyframes flicker {
  0% {
    opacity: 0.3;
  }

  10% {
    opacity: 1;

  }

  15% {
    opacity: 0.3;
  }

  20% {
    opacity: 0.3;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

/*zinc 900 to blue 700*/
body,
.topul {
  background: linear-gradient(45deg, rgb(24, 24, 27) 0%,
      rgb(28, 40, 60) 70%,
      rgb(29, 78, 216) 100%);
  /*background: linear-gradient(90deg rgb(24, 24, 27) 50%, rgb(30, 58, 138) 100%);*/

}

.topnav {
  border-bottom: .25rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(29, 78, 216), rgb(28, 40, 60)) 1;
}

.topul {
  background: linear-gradient(90deg, rgb(24, 24, 27) 0%, rgb(24, 24, 27, 0.9) 100%);
}